services:
  api:
    container_name: multi_tenancy_api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - multi_tenancy-network
    volumes:
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - ./tsconfig.json:/app/tsconfig.json
      - ./nest-cli.json:/app/nest-cli.json
      - ./src:/app/src  # Add this back for immediate sync
      - /app/node_modules
      - /app/dist  # Add this to prevent locking
    command: npm run start:dev
    restart: unless-stopped
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app/src
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json
          
  postgres:
    image: postgres:15
    container_name: multi_tenancy_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: multi_tenancy
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - multi_tenancy-network
      
networks:
  multi_tenancy-network:
    driver: bridge
    
volumes:
  postgres_data: